<header>
  <div class="header-menu-wrapper">
    <a class="header-menu" href="/">Главная</a>
    <a class="header-menu" href="/catalog">Каталог</a>
    <a class="header-menu" href="/">О проекте</a>
  </div>
  <a class="login-menu-button" (click)="toggle()">
    <span class="login-menu" href="/">Регистрация</span>
    <span> | </span>
    <span class="login-menu" href="/">Войти</span>
  </a>
</header>

<!-- окно логина -->

<section [@openClose]="isOpen? 'open' : 'closed'">
  <h1>
    Вход
  </h1>
  <mat-form-field>
    <input matInput type="email" name="email" placeholder="Email" autocomplete="on"/>
  </mat-form-field>
  <mat-form-field>
    <input matInput type="password" name="password" placeholder="Пароль" autocomplete="on" />
  </mat-form-field>
  <button mat-raised-button>Войти</button>
  <br><br>

  <h1>Ещё нет аккаунта?</h1>
  <mat-form-field>
    <input matInput type="email" name="email" placeholder="Email" autocomplete="on"/>
  </mat-form-field>
  <button mat-raised-button>Подтвердить Email</button>

</section>

