<table>
  <tr>
    <td><figure><img class="foto" src={{foto1}}></figure><figcaption class="fig">Автор<br>Описание</figcaption>
    <form class="butt"><button class="btn btn-success">Добавить в корзину</button></form></td>
    <td><figure><img class="foto" src={{foto2}}></figure><figcaption class="fig">Автор<br>Описание</figcaption>
    <form class="butt"><button class="btn btn-success">Добавить в корзину</button></form></td>
    <td><figure><img class="foto" src={{foto3}}></figure><figcaption class="fig">Автор<br>Описание</figcaption>
    <form class="butt"><button class="btn btn-success">Добавить в корзину</button></form></td>
  </tr>

  <tr>
    <td><figure><img class="foto" src={{foto4}}></figure><figcaption class="fig">Автор<br>Описание</figcaption></td>
    <td><figure><img class="foto" src={{foto5}}></figure><figcaption class="fig">Автор<br>Описание</figcaption></td>
    <td><figure><img class="foto" src={{foto6}}></figure><figcaption class="fig">Автор<br>Описание</figcaption>
  </tr>

  <tr>
    <td><figure><img class="foto" src={{foto7}}></figure><figcaption class="fig">Автор<br>Описание</figcaption></td>
    <td><figure><img class="foto" src={{foto8}}></figure><figcaption class="fig">Автор<br>Описание</figcaption></td>
    <td><figure><img class="foto" src={{foto9}}></figure><figcaption class="fig">Автор<br>Описание</figcaption></td>
  </tr>
</table>
