<table>
  <tr>
    <td><figure><img class="img img--grid" [src]="alboms[0].img"></figure><figcaption class="fig">{{alboms[0].author}}<br>{{alboms[0].name}}</figcaption>
    <form class="butt"><button class="btn btn-success">Добавить в корзину</button></form></td>
    <td><figure><img class="foto" [src]="alboms[1].img"></figure><figcaption class="fig">{{alboms[1].author}}<br>{{alboms[1].name}}</figcaption>
    <form class="butt"><button class="btn btn-success">Добавить в корзину</button></form></td>
    <td><figure><img class="foto" [src]="alboms[2].img"></figure><figcaption class="fig">{{alboms[2].author}}<br>{{alboms[2].name}}</figcaption>
    <form class="butt"><button class="btn btn-success">Добавить в корзину</button></form></td>
  </tr>

  <tr>
    <td><figure><img class="foto" [src]="alboms[3].img"></figure><figcaption class="fig">{{alboms[3].author}}<br>{{alboms[3].name}}</figcaption>
    <form class="butt"><button class="btn btn-success">Добавить в корзину</button></form></td>
    <td><figure><img class="foto" [src]="alboms[4].img"></figure><figcaption class="fig">{{alboms[4].author}}<br>{{alboms[4].name}}</figcaption>
    <form class="butt"><button class="btn btn-success">Добавить в корзину</button></form></td>
    <td><figure><img class="foto" [src]="alboms[5].img"></figure><figcaption class="fig">{{alboms[5].author}}<br>{{alboms[5].name}}</figcaption>
    <form class="butt"><button class="btn btn-success">Добавить в корзину</button></form></td>
  </tr>

  <tr>
    <td><figure><img class="foto" [src]="alboms[6].img"></figure><figcaption class="fig">{{alboms[6].author}}<br>{{alboms[6].name}}</figcaption>
    <form class="butt"><button class="btn btn-success">Добавить в корзину</button></form></td>
    <td><figure><img class="foto" [src]="alboms[7].img"></figure><figcaption class="fig">{{alboms[7].author}}<br>{{alboms[7].name}}</figcaption>
    <form class="butt"><button class="btn btn-success">Добавить в корзину</button></form></td>
    <td><figure><img class="foto" [src]="alboms[8].img"></figure><figcaption class="fig">{{alboms[8].author}}<br>{{alboms[8].name}}</figcaption>
    <form class="butt"><button class="btn btn-success">Добавить в корзину</button></form></td>
  </tr>
</table>
