#wrap {
  width:100%;
  margin:0 auto;

}
#left_col {
  float:left;
  width: 620px;;
  margin: 10px 2%;
}
#right_col {
  position: fixed;
  top: 45px;
  right: 0px;
  left: 671px;
  bottom: auto;
  width: 671px;
}
body {
  font-family: 'Marck Script', cursive;
  overflow-x: hidden;
  /*color: #474283;*/
  /*background: #45cb96;*/
  background-color:#6ccaa5;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Стили для строки поиска */

* {box-sizing: border-box;}
form {
  position: relative;
  width: 500px;
  margin: 25px 70px;
}
input {
  width: 100%;
  height: 42px;
  padding-left: 10px;
  border: 4px solid #7BA7AB;
  border-radius: 5px;
  outline: none;
  background: #d9dfdd;
  color: #000000;
}
.search {
  position: absolute;
  top: 0;
  right: 61px;
  width: 60px;
  height: 42px;
  border: none;
  background: #7BA7AB;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
}
.search:before {
  content: "\f002";
  font-family: FontAwesome;
  font-size: 16px;
  color: #F9F0DA;
}
.options {
  position: absolute;
  top: 0;
  right: 0px;
  width: 60px;
  height: 42px;
  border: none;
  background: #7BA7AB;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
}
.options:before {
  content: "\f036";
  font-family: FontAwesome;
  font-size: 16px;
  color: #F9F0DA;
}

/* Конец стилей для строки поиска */

/* Стили анимации выплывающего текста */

/*@import url('https://fonts.googleapis.com/css2?family=Marck+Script&display=swap');*/

h1.main, p.demos {
  -webkit-animation-delay: 18s;
  -moz-animation-delay: 18s;
  -ms-animation-delay: 18s;
  animation-delay: 18s;
}
.sp-container {
  align-items: center;
  padding: 0 15px;
}
.sp-content {
  align-items: center;
  padding: 0 15px;
}
.frame {
  align-items: center;
  /*padding: 0 15px;*/
  font-family: 'Marck Script', cursive;
  font-size: 40px;
  /*width: 100%;*/
  text-align: center;
  color: transparent;
  -webkit-animation: blurFadeInOut 3s ease-in backwards;
  -moz-animation: blurFadeInOut 3s ease-in backwards;
  -ms-animation: blurFadeInOut 3s ease-in backwards;
  animation: blurFadeInOut 3s ease-in backwards;
}
.frame1 {
  -webkit-animation-delay: 0s;
  -moz-animation-delay: 0s;
  -ms-animation-delay: 0s;
  animation-delay: 0s;
}
.frame2 {
  -webkit-animation-delay: 3s;
  -moz-animation-delay: 3s;
  -ms-animation-delay: 3s;
  animation-delay: 3s;
}
.frame3 {
  -webkit-animation-delay: 6s;
  -moz-animation-delay: 6s;
  -ms-animation-delay: 6s;
  animation-delay: 6s;
}
.frame4 {
  -webkit-animation-delay: 9s;
  -moz-animation-delay: 9s;
  -ms-animation-delay: 9s;
  animation-delay: 9s;
}
.frame5 {
  -webkit-animation: none;
  -moz-animation: none;
  -ms-animation: none;
  animation: none;
  color: transparent;
  text-shadow: 0px 0px 1px rgb(0, 0, 0);
}

@-webkit-keyframes blurFadeInOut {
  0% {
    opacity: 0;
    text-shadow: 0px 0px 40px rgb(0, 0, 0);
    -webkit-transform: scale(1.3);
  }
  20%, 75% {
    opacity: 1;
    text-shadow: 0px 0px 1px rgb(0, 0, 0);
    -webkit-transform: scale(1);
  }
  100% {
    opacity: 0;
    text-shadow: 0px 0px 50px rgb(0, 0, 0);
    -webkit-transform: scale(0);
  }
}
@-webkit-keyframes blurFadeIn {
  0% {
    opacity: 0;
    text-shadow: 0px 0px 40px rgb(0, 0, 0);
    -webkit-transform: scale(1.3);
  }
  50% {
    opacity: 0.5;
    text-shadow: 0px 0px 10px rgb(0, 0, 0);
    -webkit-transform: scale(1.1);
  }
  100% {
    opacity: 1;
    text-shadow: 0px 0px 1px rgb(0, 0, 0);
    -webkit-transform: scale(1);
  }
}
@-webkit-keyframes fadeInBack {
  0% {
    opacity: 0;
    -webkit-transform: scale(0);
  }
  50% {
    opacity: 0.4;
    -webkit-transform: scale(2);
  }
  100% {
    opacity: 0.2;
    -webkit-transform: scale(5);
  }
}
@-webkit-keyframes fadeInRotate {
  0% {
    opacity: 0;
    -webkit-transform: scale(0) rotate(360deg);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1) rotate(0deg);
  }
}
/**/

@-moz-keyframes blurFadeInOut {
  0% {
    opacity: 0;
    text-shadow: 0px 0px 40px rgb(0, 0, 0);
    -moz-transform: scale(1.3);
  }
  20%, 75% {
    opacity: 1;
    text-shadow: 0px 0px 1px rgb(0, 0, 0);
    -moz-transform: scale(1);
  }
  100% {
    opacity: 0;
    text-shadow: 0px 0px 50px rgb(0, 0, 0);
    -moz-transform: scale(0);
  }
}
@-moz-keyframes blurFadeIn {
  0% {
    opacity: 0;
    text-shadow: 0px 0px 40px rgb(0, 0, 0);
    -moz-transform: scale(1.3);
  }
  100% {
    opacity: 1;
    text-shadow: 0px 0px 1px rgb(0, 0, 0);
    -moz-transform: scale(1);
  }
}
@-moz-keyframes fadeInBack {
  0% {
    opacity: 0;
    -moz-transform: scale(0);
  }
  50% {
    opacity: 0.4;
    -moz-transform: scale(2);
  }
  100% {
    opacity: 0.2;
    -moz-transform: scale(5);
  }
}
@-moz-keyframes fadeInRotate {
  0% {
    opacity: 0;
    -moz-transform: scale(0) rotate(360deg);
  }
  100% {
    opacity: 1;
    -moz-transform: scale(1) rotate(0deg);
  }
}
/**/

@keyframes blurFadeInOut {
  0% {
    opacity: 0;
    text-shadow: 0px 0px 40px rgb(0, 0, 0);
    transform: scale(1.3);
  }
  20%, 75% {
    opacity: 1;
    text-shadow: 0px 0px 1px rgb(0, 0, 0);
    transform: scale(1);
  }
  100% {
    opacity: 0;
    text-shadow: 0px 0px 50px rgb(0, 0, 0);
    transform: scale(0);
  }
}
@keyframes blurFadeIn {
  0% {
    opacity: 0;
    text-shadow: 0px 0px 40px rgb(0, 0, 0);
    transform: scale(1.3);
  }
  50% {
    opacity: 0.5;
    text-shadow: 0px 0px 10px rgb(0, 0, 0);
    transform: scale(1.1);
  }
  100% {
    opacity: 1;
    text-shadow: 0px 0px 1px rgb(0, 0, 0);
    transform: scale(1);
  }
}
@keyframes fadeInBack {
  0% {
    opacity: 0;
    transform: scale(0);
  }
  50% {
    opacity: 0.4;
    transform: scale(2);
  }
  100% {
    opacity: 0.2;
    transform: scale(5);
  }
}
@keyframes fadeInRotate {
  0% {
    opacity: 0;
    transform: scale(0) rotate(360deg);
  }
  100% {
    opacity: 1;
    transform: scale(1) rotate(0deg);
  }
}

/* Конец стилей анимации выплывающего текста*/

/*Начало стилей для списка альбомов*/
/*
@font-face {
	font-family: 'nexa_boldregular';
	font-weight: bold;
	font-style: normal;
	src: url('../fonts/nexa_boldfree_macroman/Nexa_Free_Bold-webfont.eot');
	src: url('../fonts/nexa_boldfree_macroman/Nexa_Free_Bold-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/nexa_boldfree_macroman/Nexa_Free_Bold-webfont.woff2') format('woff2'), url('../fonts/nexa_boldfree_macroman/Nexa_Free_Bold-webfont.woff') format('woff'), url('../fonts/nexa_boldfree_macroman/Nexa_Free_Bold-webfont.ttf') format('truetype'), url('../fonts/nexa_boldfree_macroman/Nexa_Free_Bold-webfont.svg#nexa_boldregular') format('svg');
}
*/
*,
*::after,
*::before {
  box-sizing: border-box;
}

.hidden {
  position: absolute;
  overflow: hidden;
  width: 0;
  height: 0;
  pointer-events: none;
}

/*a {
	text-decoration: none;
	color: #fff;
	outline: none;
}*/

/*a:hover,
a:focus {
	color: #349770;
}*/

/* grid */
/*
.grid {
	width: 100%;
	position: relative;
	min-height: 100vh;
	margin: 0 0;
	padding: 0;
	list-style: none;
}
*/
@-webkit-keyframes spinLoader {
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes spinLoader {
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.page-header,
.grid {
  max-width: 1200px;
}

.grid__item {
  position: relative;
  width: 100%;
  min-width: 280px;
  /*margin: 0 0 0;*/
  padding: 0em 2em 0;
}

.no-js .grid__item {
  display: inline-block;
  width: calc(33.33% - 0.4em);
  margin: 1em 0;
}

@media screen and (min-width: 52.5em) {
  .grid__item {
    width: 33.33%;
    margin: 0 0 9em;
  }
}

@media screen and (max-width: 36em) {
  .grid__item {
    width: 100%;
    margin: 2em 0;
    padding: 1em 2em 0;
  }
}

/* grid decoration */
/*
.grid__item--deco::before {
	font-family: 'Marck Script', cursive;
	font-size: 15em;
	position: absolute;
	z-index: -1;
	top: -1em;
	left: -0.15em;
	opacity: 0.1;

}

.grid__item--deco-1::before {
	content: '1985';
}

.grid__item--deco-2::before {
	content: '1974';
}

.grid__item--deco-3::before {
	content: '2015';
}
*/
/* grid link */

.grid__link {
  position: relative;
  display: block;
  color: #474283;
  -webkit-perspective: 1200px;
  perspective: 1200px;
}

.grid__link:hover {
  color: #474283;
  outline: none;
}

/* image wrap and deco lp */

.img-wrap {
  position: relative;
}

.lp {
  position: absolute;
}

.lp--grid {
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-transform: translate3d(10%, 0, 0);
  transform: translate3d(10%, 0, 0);
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
}

.grid__link:hover .lp {
  -webkit-transform: translate3d(20%, 0, 0);
  transform: translate3d(20%, 0, 0);
}

.img {
  display: block;
}

.img--grid {
  position: relative;
  max-width: 100%;
  box-shadow: 2px 16px 26px 0px rgba(36, 33, 69, 0.3);
  -webkit-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
}

.artist {
  font-size: 1.5em;
  color: blue;
  font-weight: bold;
  margin: 0.3em 0 0em;
}

.title {
  font-size: 1.5em;
  color: blue;
  font-weight: bold;
  margin: 0 0 0 3em;
  white-space: nowrap;
}

.year {
  font-size: 1.5em;
  position: absolute;
  z-index: 10;
  right: 0;
  margin: -1em -1em 0 0;
  padding: 0.05em 0.3em;
  color: #fff;
  border: 2px solid;
  -webkit-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
}

.year--contrast {
  color: inherit;
}

