<app-header></app-header>

<main>

	<div class="tracks-wrapper">

    <div style="text-align: center;">
      <h1 style="font-family: 'Marck Script', cursive; color: rgb(90, 0, 175);">Имя автора / Название альбома</h1>
    </div>
  
    <!-- Раскрывающееся поле с картинками автора -->

    <button onclick="document.location='/author-page'">
      Перейти на страницу автора
    </button>
    <button style="width: 46%; display: inline-flex;" (click)="getPhotos()">Фотографии альбома</button> 
    <button style="width: 46%; display: inline-flex; margin-left: 3%;" (click)="getInfo()">Информация об авторе</button>

    <div *ngIf="toggleInfo">
      <p style="margin-top: 0;"> 
       Здесь можно будет увидеть информацию об авторе, если нам будет не лень её добавлять 
      </p>
    </div>  

    <div *ngIf="togglePhotos">
      <p class="imgGrid">
        <img class="images" src="https://i1.sndcdn.com/artworks-Ofv3CFYpmMowA9G7-5cRY7w-t500x500.jpg">
        <img class="images" src="https://i1.sndcdn.com/artworks-000232634900-nf5ukl-t500x500.jpg">
        <img class="images" src="https://pesni.life/pic/20/85/208566.400x400.jpg">
        <img class="images" src="https://s.mxmcdn.net/images-storage/albums4/4/4/0/3/4/7/46743044_800_800.jpg">
      </p>
    </div>      

   <!-- Список треков альбома -->

    <div class="track-container">

      <a class="track"
        (click)="changeAudio('./assets/bach.mp3')">
      <img class="play-img" src="./assets/svg/play-button.svg">
      <img class="track-img" src="https://i1.sndcdn.com/artworks-Ofv3CFYpmMowA9G7-5cRY7w-t500x500.jpg">
      <strong class="track-text">
        <div class="track-name">prelude and fuge c-moll</div>
        <div> – </div>
        <div class="track-author">j.s. bach / richter</div>
      </strong>
      </a>
      <a class="track"
        (click)="changeAudio('//dl.muzonovs.ru/files/music/2020/07/1-2-3-4-5-6-7-8-m-s-in-my-bank-account-21-savage-tik-tok.mp3')">
        <img class="play-img" src="./assets/svg/play-button.svg">
        <img class="track-img" src="https://i1.sndcdn.com/artworks-000232634900-nf5ukl-t500x500.jpg">
        <strong class="track-text">
          <div class="track-name">Bank Account</div>
          <div> – </div>
          <div class="track-author">21 Savage</div>
        </strong>
      </a>
      <a class="track"
        (click)="changeAudio('https://pesni.life/files/10981333c07f4/Vowl-her.mp3')">
        <img class="play-img" src="./assets/svg/play-button.svg">
        <img class="track-img" src="https://pesni.life/pic/20/85/208566.400x400.jpg">
        <strong class="track-text">
          <div class="track-name">her</div>
          <div> – </div>
          <div class="track-author">Vowl.</div>
        </strong>
      </a>
      <a class="track"
        (click)="changeAudio('https://cdn.muzladaz.ru/uploads/files/2020-06/1592567746_iann-dior-gone-girl.mp3')">
        <img class="play-img" src="./assets/svg/play-button.svg">
        <img class="track-img" src="https://s.mxmcdn.net/images-storage/albums4/4/4/0/3/4/7/46743044_800_800.jpg">
        <strong class="track-text">
          <div class="track-name">gone girl</div>
          <div> – </div>
          <div class="track-author">iann dior</div>
        </strong>
      </a>

    </div>

	</div>
			  
	<div id="player-wrapper">
    <button class="cart-button" onclick="document.location='/cart'">
      Добавить альбом в корзину
    </button>
		<app-record-player class="player" [src]=audioSrc></app-record-player>
	</div>  
	 
</main>