
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300&subset=latin,cyrillic);
@import url('https://fonts.googleapis.com/css2?family=Marck+Script&display=swap');

/* Общая разметка страницы - деление на правую и левую части */

#wrap {
    width:100%;
    margin:0 auto;
 }
 #left_col {
    float:left;
    width: 620px;;
    margin: 10px 2%;
 }
 #right_col {
    position: fixed;
    top: 45px;
    right: 0px;
    left: 671px;
    bottom: auto;
    width: 671px;
 }

 /* Список треков */

 .label-centered {
   text-align: center;
 }
 
 main {
   padding: 30px 20px;
   display: flex;
   margin-bottom: 70px;
 }
 
 a {
   text-decoration: none;
   color: #8e44ad;
 }
 
 .tracks-wrapper {
   width: 50%;
   padding: 0 20px;
 }
 .track-container {
   display: flex;
   flex-direction: column;
   align-items: center;
   padding: 0 15px;
 }
 .track {
   height: 70px;
   width: 100%;
   background: #ecf0f1;
   border-radius: 4px;
   display: flex;
   align-items: center;
   margin-bottom: 10px;
   cursor: pointer;
 }
 .track:hover {
   background: #dfe6e9;
 }
 .play-img {
   height: 30%;
   margin-left: 20px;
 }
 .track-img {
   margin-left: 20px;
   height: 70%;
   border-radius: 3px;
 }
 .track-text {
   margin-left: 20px;
   display: flex;
   align-items: center;
 }
 .track-name {
   font-size: large;
 }
 .track-author {
   color: #3498db;
 }
 
 .player {
   width: 50%;
   display: flex;
   justify-content: center;
 }
 .player-svg {
   width: 70%;
 }
 
 /* Раскрывающиеся поля с картинками альбома и информацией */

 button {
  height: 70px;
  width: 95%;
  margin-left: 15px;
  margin-bottom: 10px;
  border-color: blue;
  background: #ecf0f1;
  border-radius: 4px;
  display: flex;
  align-items: center;
  cursor: pointer;
  justify-content: center;
  font-family: 'Marck Script', cursive;
  font-size: 24px;
 }

 p {
   margin-left: 25px;
   font-family: 'Marck Script', cursive;
   font-size: 24px;
 }

.images {
   height: 200px;
   width: 200px;   
   padding: 15px; /* Расстояние от картинки до рамки */  
   margin-right: 20px;
   margin-bottom: 20px;
}

.imgGrid {
  text-align: center;
}