<mat-card style="margin-left: 200px;width:800px; margin-bottom: 10px;">
  <div style="display:inline-flex;">
        <div >
          <input type="checkbox">
        </div>
          <div>
            <img style="padding-left: 20px;height: 20px; width: 20px; margin-top: 50px;" src="./assets/img/heart.png" >
          </div>
          <div>
            <img style="margin-left: 50px;height: 100px; width: 100px; border-radius: 20px;" [src]="albom.img">
          </div>
          <div style="margin-left: 100px;" >
            <h2>{{albom.artist}}</h2>
            <p>{{albom.title}}</p>
          </div>
          <div style="width:180px; margin-left: 50px; margin-top: 30px;">
            <button class="count-buttons__button_minus" (click)="decrease()" >-</button>
            <input class="count-buttons__input" type="text" readonly [value]="count" #Count>
            <button class="count-buttons__button_plus" (click)="increase()" >+</button>
                  <div class="price_pod_knopkoi">
                    {{priceOne}} Р /шт
                  </div>
           </div>
                <div style="margin-left: 50px; margin-top:50px; float: right;" >
                  {{price}}
                </div>
  </div>
  <div style="float: right;" >
    <button>&times;</button>
  </div>
</mat-card>
