<!--
.card {
  border: 1px dashed red;
  margin-bottom: 30px;
  margin-inline: 200px;
  border-radius: 20px;
}
.head {
  text-align: center;
}
.btn {
  float: right;
  margin-right: 20px;
  height: 30px;
  width: 30px;
}
table {
}
td{
  border: 2px solid red;
  width: 500px;
  height:60px;
  text-align:left;
}
.btn-show {
  margin-top: 40px;
  width: 20px;
  height: 20px;
}
.count-buttons__input {
  border: 1px solid #ddd;
  border-right-color: rgb(221, 221, 221);
  border-right-style: solid;
  border-right-width: 1px;
  border-left-color: rgb(221, 221, 221);
  border-left-style: solid;
  border-left-width: 1px;
  display: inline-block;
  height: 38px;
  text-align: center;
  vertical-align: top;
  width: calc(100% / 3);
  border-left: none;
  border-right: none;
  font-size: 14px;
  line-height: 33px;
  color: #666;
  -webkit-appearance: none;
  border-radius: 0;
}
.count-buttons__button_minus {
  height: 42px;
  width: 42px;
  border-radius: 8px 0 0 8px;
  border-right: none;
  border-right-color: currentcolor;
  color: #ddd;
}
.count-buttons__button_plus {
  height: 42px;
  width: 42px;
  border-radius: 0 8px 8px 0;
  border-left: none;
  border-right-color: currentcolor;
  color: #ddd;
}
.price_pod_knopkoi {
  font-size: 12px;
  line-height: 16px;
  color: #999;
  margin: 4px 0 0;
}
